html, body {
  font-family: 'Ginora-Regular';
}

.opened-navbar {
  z-index: 100 !important;
  background: #000;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 64px;
}

.gold {
  background: linear-gradient(120.43deg, #FFC149 25.88%, #FFFEA1 41.78%, #B48900 68.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.wrapper {
  height: 100vh;
  background: url('./src/images/intro-img.png') center 35% no-repeat;
  background-size: contain;
  background-color: #000;
}

.popup {
  background: rgba(0, 0, 0, 0.5);

  form {
    input {
      background: transparent;
      &::focus {
        border: none;
      }
    }
  }
}

.gold-bg {
  background: 
        linear-gradient(120deg, #FFC149 0%, #FFFEA1 33%, #B48900 100%) padding-box,
        linear-gradient(120deg, #FFC149 0%, #FFFEA1 33%, #B48900 100%) border-box !important;
}

.border-gold-gradient {
  border: 2px solid transparent;
  border-radius: 20px;
  background: 
    linear-gradient(#000, #000) padding-box,
    linear-gradient(-120deg, #FFC149 0%, #000 30%, #000 55%, #B48900 135%) border-box;
}

.border-gold-gradient-whole {
  border: 2px solid transparent;
  border-radius: 20px;
  background: 
    linear-gradient(#000, #000) padding-box,
    linear-gradient(-120deg, #FFC149 0%, #B48900 135%) border-box;
}


.header {
  position: relative;
  z-index: 1;

  &__logo {
    span {
      font-family: 'TrajanPro-Regular';
    }
  }
}

.discord {
  &__frame {
    cursor: pointer;
    transition: 1s;
  }
}

.seaside {
  position: relative;
  z-index: 1;

  &__btn {
    transition: 1s;
    border: 2px solid transparent;
    border-radius: 5px;
    background: 
      linear-gradient(#000, #000) padding-box,
      linear-gradient(120deg, #FFC149 0%, #FFFEA1 33%, #B48900 100%) border-box;
  }
}

.mint {
  
}

.apex {
  &__content {
    
  }

  &__text {
    p {
      span {
        font-family: 'Ginora-Bold';
      }
    }
  }
}

.paper {
  grid-template-columns: repeat(24, 1fr);

  &__content {
    grid-column-end: 22;
  }

  &__btn {
    transition: 1s;
    border: 2px solid transparent;
    border-radius: 5px;
    background: 
      linear-gradient(#000, #000) padding-box,
      linear-gradient(120deg, #FFC149 0%, #FFFEA1 33%, #B48900 100%) border-box;
  }
}

.steps {
  &__grid {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 247px;
  }

  &__item:first-child {
    grid-column-start: 5;
    grid-column-end: 9;
  }

  &__item:nth-child(2) {
    grid-column-start: 12;
    grid-column-end: 16;
  }

  &__item:nth-child(3) {
    grid-column-start: 18;
    grid-column-end: 22;
  }

  &__item:nth-child(4) {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row: 2;
  }

  &__item:nth-child(5) {
    grid-column-start: 16;
    grid-column-end: 20;
    grid-row: 2;
  }
}

.member {
  margin: 0 auto;

  &__status {
    transition: 1s;
    border: 2px solid transparent;
    border-radius: 10px;
    background: 
      linear-gradient(#000, #000) padding-box,
      linear-gradient(120deg, #FFC149 0%, #FFFEA1 33%, #B48900 100%) border-box;
  }
}

.founder {
  margin: 0 auto;
}

.faq {
  margin: 0 auto;

  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.part {
  background: rgba(255, 255, 255, 5%);
}

.footer {
  max-width: 1440px;
  margin: 0 auto;

  p.logo {
    font-family: 'TrajanPro-Regular';
  }
}

@media screen and (max-width: 768px) {
  .border-gold-gradient {
    background: 
    linear-gradient(#000, #000) padding-box,
    linear-gradient(120deg, #FFC149 0%, #000 30%, #000 55%, #B48900 135%) border-box;
  }

  .steps {
    &__grid {
      display: flex;
      flex-direction: column;
      grid-row-gap: 0;
    }

    &__item {
      img {
        margin: 0 auto;
      }
      img.odd {
        margin-left: 10%;
      }
      img.odd-reverse {
        margin-right: 10%;
      }
    }
  }

  .member {
    .seaside__btn {
      margin: 0 auto;
    }
  }
}


.discord a,.btn-gold a {
  position: relative;
  display: inline-block;
  color: #d4af37;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px
}

.discord a:hover,.btn-gold a:hover {
  background: #d4af37;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #d4af37,
              0 0 25px #d4af37,
              0 0 50px #d4af37,
              0 0 100px #d4af37;
}

.discord a span,.btn-gold a span {
  position: absolute;
  display: block;
}

.discord a span:nth-child(1),.btn-gold a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #d4af37);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.discord a span:nth-child(2),.btn-gold a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #d4af37);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.discord a span:nth-child(3),.btn-gold a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #d4af37);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.discord a span:nth-child(4),.btn-gold a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #d4af37);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}